.about,
.logo {
  justify-content: center;
}
.about,
.navbar {
  background-color: #fff;
}
.about-heading,
.menu .lower ul li,
.slider-heading {
  position: relative;
}
.append-buttons,
.slider-heading,
.swiper-slide {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
:root {
  --light-gray-border-1: 1px solid rgb(199, 189, 189);
  --roboto-fonts: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

header {
  width: 100%;
  display: grid;
  place-items: center;
  height: 116px;
}
.navbar {
  display: flex;
  width: 80%;
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
}

.toggle-btn {
  display: none;
}

/* MENU */

.menu {
  width: 100%;
  margin-left: 20px;
  border-left: 1px solid #d4c9c9;
}
/* MENU UPPER */

.menu .upper {
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  height: 40%;
}
.menu .upper .upper-left {
  display: flex;
  align-items: center;
}
.menu .upper .upper-right {
  display: flex;
  align-items: center;
}
.menu .upper .upper-right .links a {
  margin-right: 2px;
}
.menu .upper .upper-right .links img {
  width: 25px;
}

.menu .upper .upper-right .nav-btn {
  padding: 1px 30px;

  height: 100%;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  color: white;
  transition: 0.2s ease;
  cursor: pointer;
}

.nav-btn:nth-child(1) {
  background-color: #6d6d72;
  margin-right: 5px;
}

.nav-btn:nth-child(1):hover {
  background-color: #323f69;
}
.nav-btn:nth-child(2) {
  background-color: #323f69;
  margin-right: 38px;
}
.nav-btn:nth-child(2):hover {
  background-color: #6d6d72;
}

.upper-left h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin: 0 15px 0 25px;
  /* letter-spacing: 1px; */
}

.upper-left a {
  color: black;
}

.upper-left i {
  color: #323f69;
  font-size: 17px;
  margin-right: 2px;
}

.upper .divider {
  height: 100%;
  width: 1px;
  border-left: 1px solid #e6e6e6;
}
.upper-left .phone,
.upper-left .mail {
  padding: 0 20px;
  margin: 0 2px;
  /* gap: 50px; */
}
/* MENU UPPER */

/* MENU LOWER */

.menu-lower {
  width: 100%;
  padding: 0 3px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-lower ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.menu .menu-lower ul a {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 10px;
  color: black;
  transition: 0.2s ease;
}

.menu .menu-lower ul a.active {
  color: white;
}
.menu .menu-lower ul a:hover {
  background-color: #323f69;
  color: white;
}

/* MENU LOWER */

/* MENU */

/* Home */
.slideshow-container {
  width: 100%;
  height: 507px;

  position: relative;
  margin: auto;

  overflow: hidden;
}
.mySlides {
  display: none;
  position: relative;
  height: 100%;
}

.slide-text {
  color: #f1eaea;
  position: absolute;
  font-family: var(--roboto-fonts);
  /* z-index: 99999 !important; */
  padding: 40px 20px 20px 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid white;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 20%;
  left: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.slide-text button {
  width: 150px;
  margin: 0 auto;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  transform: translateY(43px);
  cursor: pointer;
  transition: 0.2s ease;
}

.slide-text button:hover {
  background-color: #323f69;
  color: white;
}

.mySlides img {
  width: 100%;
  margin-top: -110px;
}

.dots-container {
  transform: translateY(-56px) translateX(-38%) !important;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #323f69;
  color: white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.about {
  width: 100%;
  display: flex;
  align-items: center;
}
.about-content,
.swiper-slide {
  justify-content: center;
  display: flex;
}
.about-btn,
.kati::before {
  background-color: #323f69;
}
.about-content {
  width: 80%;
  margin-bottom: 7rem;
  height: fit-content;
}
.about-content .about-right {
  width: 50%;
  height: 400px;
}
.about-content .about-left {
  width: 50%;
  height: 400px;
  margin-right: 2rem;
  position: relative;
}
.kati::before,
.slider-heading::before,
.videos::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -36px;
  top: 17px;
}
.about-heading {
  font-size: 40px;
  font-weight: 400;
  margin-left: 35px;
  margin-bottom: 10px;
}
.videos::before {
  background-color: #6d6d72;
}
.about-desc {
  font-size: 16.22px;
  line-height: 30px;
}
.about-btn {
  padding: 8px 15px;
  font-size: 16.2px;
  border: none;
  outline: none;
  color: white;
  position: relative;
  top: 20px;
}

.append-buttons,
.footer-social-links {
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

/* SLIDER SECTION */
.swiper-container {
  background-color: #323f69;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
}

.swiper-container .events {
  position: relative;
  color: white;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 1rem;
  /* line-height: 35px; */
}

.events::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 15px;
  width: 25px;
  height: 25px;
  background-color: white;
}
.card-list .card-item {
  user-select: none;
  border: 1px solid #fff;
  width: 400px;
  height: 258px;
}

.card-item img {
  width: 100%;
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  position: relative;
  padding: 0 1rem;
}

.swiper-wrapper {
  width: 70%;
  /* padding: 3px; */
  position: relative;
}

.slider-wrapper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff;
}

.slider-wrapper .swiper-slide-button {
  /* color: #fff; */
  color: black;
  transition: 0.2s ease;
  height: 40px;
  width: 40px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
  font-size: 17px;
  font-weight: 900;
}

/* .slider-wrapper .swiper-slide-button:after {
  width: 10px;
  height: 10px;
} */

.slider-wrapper .swiper-slide-button:hover {
  color: rgb(0, 89, 255);
}

.swiper-button-prev {
  position: absolute;
  top: 56%;
  left: 0%;
  background-color: white;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  font-size: 17px;
  font-weight: 900;
}

.swiper-button-next {
  position: absolute;
  top: 56%;
  right: 0%;
  background-color: white;
}

/* SLIDER SECTION */

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 0 8rem;
  background-color: #fff;
  color: #000;
}
.footer-column {
  padding: 40px 20px 20px;
  min-height: 200px;
}
.footer-column:first-child,
.footer-column:nth-child(2),
.footer-column:nth-child(3),
.footer-column:nth-child(4) {
  border-right: 1px solid #d4c9c9;
}
.footer-column h4 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 25px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin-bottom: 8px;
}
.footer-column ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 26px;
}
.footer-column ul li a:hover {
  text-decoration: underline;
}
.footer-link {
  width: 30px;
  margin-right: 10px;
}
.footer-bottom {
  width: 100%;
  padding: 20px 8.5rem;
  border-top: 1px solid #d4c9c9;
}

@media (max-width: 1300px) {
  .navbar {
    width: 100%;
    padding: 0 5px;
  }

  .upper-left .phone,
  .upper-left .mail {
    padding: 0 8px;
    margin: 0 2px;
  }
  .upper-left h3 {
    margin: 0 0px 0 9px;
  }
  .menu-lower ul {
    gap: 8px;
  }
}

@media (max-width: 1024px) {
  .about-content {
    width: 95%;
    margin-bottom: 6rem;
  }
  .about-btn {
    margin-top: 1rem;
  }
  .slider-wrapper {
    width: 95vw;
  }
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0 0rem;
    background-color: #fff;
    color: #000;
  }
}
@media (max-width: 992px) {
  .toggle-btn img {
    width: 30px;
    color: white;
    margin: auto;
  }

  /* .navbar .menu .lower {
    margin: 0;
  } */

  /* .navbar .menu .lower ul {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 400px;
    left: -185px;
    z-index: 99999;
    align-items: baseline;
    margin: 0;
    left: -585px;
    transition: 0.3s ease;
    padding: 78px 66px 0 66px;
  } */

  /* .lower ul li {
    width: 100%;
  } */

  /* .menu .lower ul .nav-link {
    padding: 10px 0;
    border-bottom: 1px solid #323f69;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
  } */

  /* .navbar .menu .lower ul.active {
    left: -185px;
  } */
  .about-content {
    flex-direction: column;
  }

  .navbar .upper {
    display: none;
  }

  .navbar .menu {
    border: none;
  }

  .slide-text button {
    width: 150px;
    margin: 0 auto;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    transform: translateY(31px);
  }

  .slide-text {
    padding: 20px 10px 11px 10px;
    font-size: 16px;
    line-height: 25px;
    width: 314px;
    bottom: 23%;
    left: 10%;
  }

  .dots-container {
    transform: translateY(-85px) translateX(-35%) !important;
  }
  /* ABOUT */

  .about {
    padding: 0px 0;
  }
  .slideshow-container {
    width: 100%;
    height: 70vh;
    position: relative;
    /* margin: auto; */
    overflow: hidden;
    /* margin-bottom: 20px; */
  }

  .mySlides img {
    width: 158%;
  }
  .about-heading {
    font-size: 33px;
  }
  .kati::before,
  .slider-heading::before,
  .videos::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    left: -33px;
    top: 13px;
  }
  /* ABOUT-LEFT */

  .about-content {
    flex-direction: column;
    width: 100%;
  }
  .about-content .about-left {
    width: 100%;
    padding: 10px;
  }

  .about-content .about-right {
    width: 100%;
    margin-top: 1rem;
    padding: 10px;
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .footer-bottom {
    padding: 20px 0.5rem;
  }
}

@media (max-width: 1040px) {
  .toggle-btn {
    display: block;
    display: flex;
    background-color: #323f69;
    padding: 8px;
    border-radius: 5px;
    margin: auto 0;
  }

  .toggle-btn img {
    width: 37px;
  }

  .navbar {
    width: 100%;
  }
  .menu-lower {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    z-index: 9999;
    background-color: white;
    transition: 0.2s ease-in;
  }

  .menu .upper {
    display: none;
  }

  .toggle-menu li {
    width: 79%;
    border-bottom: 1px solid black;
    margin: 0 15px;
    padding: 11px 0px;
  }
  .menu .menu-lower ul a {
    padding: 9px 11px;
    width: 100%;
    display: block;
  }
  .menu .menu-lower ul a.active {
    color: white;
  }

  .menu .menu-lower ul a:hover {
    background-color: #323f69;
  }

  .menu-lower.active {
    left: 0;
  }

  .menu-lower .toggle-menu {
    flex-direction: column;
    gap: 0;
  }
  .navbar .menu {
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .about-content .about-right {
    margin-bottom: -2rem;
  }
  .slide-text {
    width: 97%;

    left: 8px;
    /* 
    transform: translate(10px, 0px); */
  }

  .swiper-wrapper {
    width: 540px;
  }
  .footer-column h4 {
    margin-bottom: 12px;
  }
  .footer-column ul li {
    margin-bottom: 19px;
  }
}

@media (max-width: 576px) {
  .logo {
    height: 111px;
    width: 139px;
  }

  .logo a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    width: 100%;
  }

  .toggle-btn {
    padding: 4px;
  }
  .toggle-btn img {
    width: 38px;
  }
  .mySlides {
    display: none;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .mySlides img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .dots-container {
    transform: translateY(-44px) translateX(-34%) !important;
  }
  .slide-text button {
    padding: 8px 6px;
    font-size: 15px;
    transform: translateY(31px);
  }

  .slide-text {
    padding: 20px 10px 11px 10px;
    font-size: 16px;
    line-height: 25px;
    width: 94%;
    bottom: 16%;
    left: 15px;
  }

  .slideshow-container {
    height: 522px;
  }
  .kati::before,
  .slider-heading::before,
  .videos::before {
    width: 33px;
    height: 27px;
    left: -36px;
    top: 12px;
  }

  .about {
    margin-bottom: -0.8rem;
  }
  .about-content .about-left {
    margin-bottom: 5rem;
  }

  .about-right {
    margin-bottom: -2rem;
  }
  .about-heading {
    font-size: 33px;
  }
  .swiper-container .events {
    font-size: 33px;
  }
  .events::before {
    left: -40px;
    top: 12px;
    width: 33px;
    height: 27px;
  }
  /* .swiper-button-next {
    right: 23.9%;
  }

  .swiper-button-prev {
    left: 24%;
  } */
  .swiper-wrapper {
    width: 480px;
  }

  .footer {
    grid-template-columns: 1fr;
    text-align: left;
    padding-top: 1rem;
    gap: 0;
  }

  .footer-column {
    padding: 5px 5px 0px;
    margin: 0 5px;

    border-bottom: 1px solid #bbbbc0;
  }

  .footer-column:first-child,
  .footer-column:nth-child(2),
  .footer-column:nth-child(3),
  .footer-column:nth-child(4) {
    border-right: none;
  }
}
@media (max-width: 480px) {
  .about-desc {
    font-size: 16px;
    line-height: 25px;
  }

  .slideshow-container {
    height: 512px;
  }
  .mySlides img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
  }
  .slide-text {
    padding: 9px 2px 9px 3px;
    font-size: 18px;
    display: flex;
    line-height: 32px;
    width: 98%;
    bottom: 13%;
    left: 4px;
  }
  .slide-text button {
    width: 138px;
    font-size: 17px;
    transform: translateY(26px);
  }
  .swiper-wrapper {
    width: 100vw;
  }
  .about .about-right {
    height: fit-content;
    margin-top: 7rem;
    margin-bottom: -3rem;
  }

  .events::before {
    left: -13px;
    top: 12px;
    width: 33px;
    height: 27px;
  }

  .swiper-container .events {
    text-align: center;
  }

  /* .swiper-button-next {
    right: 0.9%;
  }
  .swiper-button-prev {
    left: 0.9%;
  } */
  .footer {
    grid-template-columns: 1fr;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .about-right iframe {
    width: 100%;
    height: 50%;
  }

  .about-left {
    height: fit-content;
  }

  .about-right {
    height: fit-content;
    margin-bottom: -10rem;
  }
}
